<div class="container-nav">
  <div class="nav-left">
    <a class="" href="/">Blogs</a>
  </div>
  <div class="nav-right">
    <a href="/about">About</a>
    <a href="/blog/add">Add Blog</a>
  </div>
</div>