<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
    {{>header}}
      <div class="container">
        <div class="container-about-page">
          <h2 class="title">
            Built With <span class="text-danger">â¤</span> By 
          </h2>
          <br />
          <br />
          <h3 class="body">
            Ruchi Gangwar,
            <br>
             ğƒğ¨ğ§'ğ­ ğ›ğ ğ­ğ«ğšğ©ğ©ğğ ğ¢ğ§ ğ¬ğ¨ğ¦ğğ¨ğ§ğ ğğ¥ğ¬ğ'ğ¬ ğğ«ğğšğ¦ğ¬ _V
ğ–ğ¨ğ«ğ¤ğ¢ğ§ğ  ğ¨ğ§ ğ­ğ¡ğ ğ°ğšğ² ğ­ğ¨ ğ¦ğšğ¤ğ ğš ğ¡ğšğ«ğ ğ¢ğ¦ğ©ğšğœğ­
          </h3>
        </div>
      </div>
    </div>
  </body>
</html>