<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
    {{>header}}
      <div class="container">
        <div class="container-content expanded">
          <h2 class="title">
            {{blog.title}}
          </h2>
          <br />
          <br />
          <h3 class="body">
            {{blog.body}}
          </h3>
        </div>
      </div>
      {{>footer}}
    </div>
  </body>
</html>